body {
    font-family: Helvetiva, sans-serif;

}

.container {
    padding: 2em;
    /*width: 1200px;*/
}

li {
    list-style-type: none;
}

.api-endpoint-container {
    border: 1px solid #999;
    border-radius: 5px;
    margin: 1em 0;
    padding: 0;
}

.api-endpoint-container h3 {
    padding: 0.4em 0.7em;
    margin: 0 0 0.5em;
    font-weight: 100;
    font-style: oblique;

}

.api-endpoint-container > ul {
    position: relative;
    top: -20px;
}

.api-endpoint-container.api-public h3::before {
    background-color: #cf85c0;
    content: "P";
}

.api-endpoint-container.api-private h3::before {
    background-color: #1a2181;
    content: "N";
}

.api-endpoint-container.monitor h3::before {
    background-color: #439d12;
    content: "M";
}

.api-endpoint-container h3::before {
    color: #fff;
    /*text-indent: -10000px;*/
    display: inline-block;
    padding: 0.5em;
    border-radius: 50%;
    text-align: center;
    width: 1em;
    height: 1em;
    margin-right:0.4em;
}


.api-endpoint-container ul {
    margin: 0.5em 3em;
    padding: 0.5em;
    /*clear: both;*/
}

.apilist-container {
    padding: 0;
}

.key-column {
    width:33%;
    float:left;
}

.key-column ul {
    margin: 0;
}

/*.api-endpoint-container:after {*/
/*    content: "";*/
/*    clear: both;*/
/*}*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.nocontent-style {
    color: green;
    font-size: 160%;
    text-align: center;
    border: 1px solid #999;
    border-radius: 5px;
    margin: 1em 0;
    padding: 0.6em 0;

}